/bin
/world
/saves
/resourcepacks
/mods
/logs
/crash-reports
/config
/build
/asm
/banned-ips.json
/banned-players.json
/build.gradle
/CREDITS-fml.txt
/eula.txt
/forge-1.7.10-10.13.0.1180-changelog.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/ops.json
/options.txt
/README.txt
/server.properties
/usercache.json
/whitelist.json
/gradle
/eclipse
